CharacterKeybinds/.vs
CharacterKeybinds/bin
CharacterKeybinds/obj
CharacterKeybinds/.idea
CharacterKeybinds/CharacterKeybinds.sln.DotSettings.user
Tests/CharacterKeybinds-Tests/obj
Tests/CharacterKeybinds-Tests/bin
LocaAutomation/bin
LocaAutomation/obj
.idea
